<div class="jumbotron">
	<center><h1>RareDone.</h1></center>
	<center> <%= link_to "Sign Up", "#", class: "btn btn-primary" %>
	  <%= link_to "Sign In", "#", class: "btn btn-primary" %>
	</center>
</div>